@page "/"
@using MudTracker.Shared
@inject HttpClient Http

@if(ChanceOfMud == null)
{
    <h1 class="display-4">Checking weather...</h1>
}
else 
{
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-5"> 
                <h1 class="display-4">@((Int32)ChanceOfMud.Probability) %</h1>
                <p class="lead">@ChanceOfMud.Message</p>
                <hr class="my-4">
                <p>This utility is not liable for ruined socks or shoes</p>
                <p>Your IP: @ipAddress.IP</p>
                
            </div>
            <div class="col-sm-7">
                <div class="row">
                    @foreach(var day in ChanceOfMud.Daily)
                    {
                        <div class="col-sm-4">
                            <DailyCard Day="@day" IsLastDay="@(ChanceOfMud.Daily.IndexOf(day) == 2)"/>
                        </div>        
                    }
                </div>
            </div>
        </div>        
    </div>                    
}

@code {
    private ChanceOfMudProbability ChanceOfMud;

    private IPAddress ipAddress = new IPAddress();

    protected override async Task OnInitializedAsync()
    {
        ChanceOfMud = await Http.GetFromJsonAsync<ChanceOfMudProbability>("WeatherForecast/ChanceOfMud");
        
        ipAddress =  await Http.GetFromJsonAsync<IPAddress>("Location"); //_apiClientService.GetUserIPAsync();
        
        // location = await Http.GetFromJsonAsync<UserGeoLocation >("Location/Geo"); 
    }
}